<h1>Hola Mundo!</h1>

<p>Segundos: {{LosSegundos}}</p>
<p>Segundos a Minutos: {{segundos_a_minutos}}</p>
<p>Segundos a Horas: {{segundos_a_horas}}</p>

<p>Por defecto punto guión: {{elRut | rut}}</p>
<p>Parámetro punto guión: {{elRut | rut: 'punto-guion'}}</p>
<p>Parámetro solo guión: {{elRut | rut: 'solo-guion'}}</p>
<p>Parámetro ninguno: {{elRut | rut: 'ninguno'}}</p>
<p>Mi Rut Transformado de Forma programatica: {{miRutTransformado}}</p>

<p>{{ahora | date: 'dd-MM-yyyy'}}</p>
<p>{{ahora | date: 'dd/MM/yyyy'}}</p>
<p>{{ahora | date: 'yyyy'}}</p>
<p>{{ahora | date: 'MM'}}</p>
<p>{{ahora | date: 'dd'}}</p>
<p>{{numero | number: '1.0-0'}}</p>
<p>{{usuario | json}}</p>